@import 'https://fonts.googleapis.com/css?family=Ubuntu';
html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    background-color: black;
    color: white;
    font-family: 'Ubuntu', sans-serif;
    font-size: 16px;
}

ul {
    padding: 0;
    list-style-type: none;
}

.imgli {
    display: inline-block;
    background: #fff;
    border: 1px solid #ddd;
    box-shadow: 0 0 5px #ddd;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    width: 100%;
    margin: 0 auto 10px;
}

.imgli img {
    max-width: 100%;
    height: auto;
    margin: 0 0 10px;
    padding: 1.5em;
}

.photo-container {
    position: relative;
}

.photo-overlay {
    background-color: black;
    padding: 0.2em 0.5em 0.2em 0.5em;
    color: white;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.75);
    height: 100%;
}

.photo-overlay h3 {
    text-align: center;
}

.photo-overlay p {
    font-size: 85%;
}

@media screen and (min-width: 380px) {
    .imgli {
        width: 48.5%;
        margin: 2px;
    }
}


@media screen and (min-width: 700px) {
    .imgli {
        width: 32.5%;
        margin: 2px;
    }
}

@media screen and (min-width: 950px) {
    .imgli {
        width: 24.5%;
        margin: 2px;
    }
}

@media screen and (min-width: 1200px) {
    .imgli {
        width: 19.5%;
        margin: 2px;
    }
}

@media screen and (min-width: 1800px) {
    .imgli {
        width: 16%;
        margin: 2px;
    }
}
