body {
    background-color: black;
    color: white;
}

ul {
    list-style: none;
}

.imgli {
    display: inline-block;
    padding: 10px;
    background: #fff;
    border: 1px solid #ddd;
    box-shadow: 0 0 5px #ddd;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    margin: 0.5em;
}

.imgli img {
    max-width: 100%;
    height: auto;
    margin: 0 0 10px;
    padding: 1em;
}

.photo-container {
    position: relative;
}

.photo-overlay {
    background-color: black;
    color: white;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    opacity: 0.75;
    height: 75%;
}
