@import 'https://fonts.googleapis.com/css?family=Ubuntu';
html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    background-color: black;
    color: white;
    font-family: 'Ubuntu', sans-serif;
    font-size: 16px;
    overflow-y: scroll;
}

.hidden {
    display: none;
}

.ui-widget-overlay {
    opacity: 0.75;
    filter: Alpha(Opacity=75);
    background-color: black;
}

.config-button {
    background-color: #95a5a6;
    font-size: 36px;
    position: fixed;
    bottom: 0.5%;
    right: 0.5%;
    padding: 15px 20px;
    border-radius: 36px;
    cursor: pointer;
}

.config-button:hover {
    background-color: #DD4F7E;
}

ul {
    padding: 0;
    list-style-type: none;
}

.imgli {
    display: inline-block;
    background: #fff;
    border: 1px solid #ddd;
    box-shadow: 0 0 5px #ddd;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    width: 100%;
    margin: 0 auto 10px;
}

.imgli img {
    max-width: 100%;
    height: auto;
    margin: 0 0 10px;
    padding: 1.5em;
}

.photo-container {
    position: relative;
}

.photo-overlay {
    background-color: black;
    padding: 0.2em 0.5em 0.2em 0.5em;
    color: white;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.75);
    height: 100%;
}

.photo-overlay h3 {
    text-align: center;
}

.photo-overlay p {
    font-size: 0.8em;
}

.photo-overlay p.timestamp {
    text-align: right;
    font-size: 0.75em;
}

@media screen and (min-width: 380px) {
    .imgli {
        width: 48.5%;
        margin: 2px;
    }
}

@media screen and (min-width: 700px) {
    .imgli {
        width: 32.5%;
        margin: 2px;
    }
}

@media screen and (min-width: 950px) {
    .imgli {
        width: 24.5%;
        margin: 2px;
    }
}

@media screen and (min-width: 1200px) {
    .imgli {
        width: 19.5%;
        margin: 2px;
    }
}

@media screen and (min-width: 1800px) {
    .imgli {
        width: 16%;
        margin: 2px;
    }
}
